numpy~=1.21.2
pandas~=1.3.4
Shapely~=1.7.1
rasterio~=1.2.10
matplotlib~=3.4.3
pytest~=6.2.5
six~=1.16.0
Pillow~=8.4.0
Fiona~=1.8.20
geopandas~=0.10.2
pyproj~=3.2.1
Cartopy~=0.20.1
scipy~=1.7.1
scikit_learn~=1.0
geoplot~=0.4.4
GDAL~=3.3.3
scikit-image~=0.18.3
basemap~=1.3.1
netCDF4~=1.5.8
contextily~=1.2.0
tkintermapview~=1.3
PyQt5~=5.15.6
PyQtWebEngine~=5.15.5