
[SplitShapefile]
trainPercent  = 50
inputFolder   = D:/NARSS/Research_Project/2020-2022/Data/Vector_Data/OneShpFile

shapefilename = chip8_2017_trainingPoints_2.shp
prjfilename   = chip8_2017_trainingPoints_2.prj 

fieldname     = code
crops_indexes_names   = {2: "building", 3:"trees",4:"street",5:"vehilce"}

[cnn]
num_filt_1 = 64  
num_filt_2 = 56      
num_filt_3 = 32       
num_fc_1 =   160  
max_iterations = 6000
batch_size = 64
dropout = .8     
plot_row = 5       
learning_rate = 0.002 
input_norm = 0   

