[general]
WorkRout                 = D:/NARSS/Research_Project/2020-2022/Data/
inputShapefilesPath      = D:/NARSS/Research_Project/2020-2022/Data/Vector_Data/

rasterpath    = Raster_Data/
image_name    = sentinel_mask.img

outputpath    = Output/

trainName     = train
testName      = test

[SplitShapefile]
trainPercent  = 50
inputFolder   = D:/NARSS/Research_Project/2020-2022/Data/Vector_Data/OneShpFile

shapefilename = chip8_2017_trainingPoints_2.shp
prjfilename   = chip8_2017_trainingPoints_2.prj 

fieldname     = code
crops_indexes_names   = {2: "building", 3:"trees",4:"street",5:"vehilce"}

[RF]
rf_para1_n_jobs       = 5
rf_para2_n_estimators = 45    

[knn]
knn_parameter        =  3

[svm]
svmC                 = 1000
svmGama              = 0.1

[mlp]
first_hidden_layer =  100 
second_hidden_layer = 100
third_hidden_layer =  100
fourth_hidden_layer = 100

[cnn]
num_filt_1 = 64  
num_filt_2 = 56      
num_filt_3 = 32       
num_fc_1 =   160  
max_iterations = 6000
batch_size = 64
dropout = .8     
plot_row = 5       
learning_rate = 0.002 
input_norm = 0   

